#!/usr/bin/env bash

# Nomad
# -----
export NOMAD_ADDR=http://nomad-server-1.node.consul:4646
export NOMAD_REGION=home
# export NOMAD_CACERT=''
# export NOMAD_CLIENT_CERT=''
# export NOMAD_CLIENT_KEY=''
# export NOMAD_TOKEN=''

# Vault
# -----
# export VAULT_ADDR='http://vault.service.consul'
export VAULT_TOKEN=''
