#!/usr/bin/env bash
set -euo pipefail

# Reload if any of these files change
watch_file nix/* .envrc.local .envrc.nuc-1 .envrc.nas

# Build a folder that contains all the tools
[[ -n $(command -v nix-build) ]] && nix-build ./nix -A env --out-link ./env

# source .profile from `$env`.
# This is only used to set things interpolated by nix.
# All *static* things should live inside .envrc.
[[ -f ./env/.profile ]] && source_env ./env/.profile

# allow common envrc overrides
[[ -f ./envrc.local ]] && source_env .envrc.local

# allow host specific envrc overrides
[[ -f .envrc.nuc-1 ]] && source_env .envrc.nuc-1
[[ -f .envrc.nas ]] && source_env .envrc.nas
