#!/usr/bin/env bash
set -euo pipefail

# Reload if any of these files change
watch_file nix/* .envrc.nuc-1 .envrc.nas

# Build a folder that contains all the tools
[[ -n $(command -v nix-build) ]] && nix-build ./nix -A env --out-link ./env

# source .profile from `$env`.
# This is only used to set things interpolated by nix.
# All *static* things should live inside .envrc.
source_env_if_exists ./env/.profile

# allow host specific envrc overrides
[[ $(hostname) == "nuc-1" ]] && source_env_if_exists .envrc.nuc-1
[[ $(hostname) == "nas" ]] && source_env_if_exists .envrc.nas
