# Cache objects
packer_cache/

# For built boxes
*.box

# nix
env/
/result*

# Direnv
/.direnv
/.envrc.*
/env

# Terraform
.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup

# Plex / Plugins
conf/plex/agents/*.bundle
